<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices  style="background: #000;" -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Covid-19 Infection Prediction</title>
  
</head>

<body>
 <div class="login">
	<h1 style="color:blue;">Covid-19 Infection Prediction</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="place" placeholder="縣市"/><br>
      <input type="text" name="week" placeholder="一周還是一個月"/><p>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict Infected population</button></p>
    </form>

   <br>
   <br>
   <h4 style="color:blue;">
   {{ prediction_text }} </h4>

 </div>


</body>
</html>
